#navigation{
    background-color: lightblue;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 2px 2px lightblue;
    /* padding: 10px; */
}
*{
    /* box-sizing: border-box; */
}
.inner{
    padding: 3px;
    font-size: 26px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
    padding: 5px;   
}
a:hover{
    background-color: aqua;
    border-radius: 10px;
}
*{
    /* margin: 0; */
    /* border: 1px solid black; */
}