.gallery-container{
    width: 500px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
}

.slides{
    
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    
    /* overflow: hidden; */
}
.slider img{
    width: 100%;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
    position: relative;
    /* position: absolute; */
}
.slider img
{
    
    left: -1250px;
}
.slider-nav{
    /* position: absolute; */
    /* padding: 10px; */
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
}
.slider-nav a{
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

*{
    /* border: 1px solid black; */
    box-sizing: border-box;
}