<div class="flex-wrapper">
    <div class="topic">
        <h3 #head1>Basics</h3>
        <p #text1>Core Angular basics you have to know</p>
        <button (click)="onClickLearn(head1.innerHTML, text1.innerHTML)">Learn More</button>
    </div>
    <div class="topic">
        <h3 #head2>Components</h3>
        <p #text2>Components are a core concept for building Angular UIs and apps</p>
        <button (click)="onClickLearn(head2.innerHTML, text2.innerHTML)">Learn More</button>
    </div>
    <div class="topic">
        <h3 #head3>Events</h3>
        <p #text3>Eventa are important in Angular</p>
        <button (click)="onClickLearn(head3.innerHTML, text3.innerHTML)">Learn More</button>
    </div>
</div>
