body{
    /* height: 1500px; */
}

.grid-container{

    /* width: 100%; */
    /* margin: auto auto; */
    display: grid;
    grid-template-columns: 14% 70% 14%;
    grid-template-rows: 10vh 10vh 70vh auto 10vh;
    /* grid-template-rows: 10vh 10vh 70vh 10vh; */
    grid-template-areas: 
    "header header header"
    "aside nav ads"
    "aside main ads"
    ". main ads"
    "footer footer footer";
    gap: 10px;
}
*{
    /* border: 1px solid black; */
    box-sizing: border-box;
}
header, nav, aside, main, footer{
    background-color: beige;
}
header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    border: 2px solid red;
    color: blue;
    /* width: 100%; */
}

.personal-info{
    border: 2px solid red;
    grid-area: aside;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    /* position: -webkit-sticky; */
    position: sticky;
    top:10px;
    /* background-color:rgba(255,255,255,1); */
    z-index:3;
}
.info-element{
    width: 100%;
}
#text-info p{
    padding: 10px 0;
    margin: 0;
}
.personal-info #me{
    border-radius: 50%;
    width: 90%;
}
.personal-info a img{
    height: 60px;
}

nav{
    position: sticky;
    top: 10px;
    z-index: 3;
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    border: 2px solid red;
}
nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    width: 25%;
    font-weight: bold;
    border-right: 2px solid red;
}
#last-nav{
    border: 0;
}

.ads{
    grid-area: ads;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid red;
    /* width: 100%; */
    height: auto;
}
.ads a{
    width: 90%;
    margin-bottom: 10px;
    height: auto;
}
.ads img{
    /* height: 220px; */
    width: 100%;
    /* margin-bottom: 10px; */
    /* height: auto; */
}

main{
    grid-area: main;
    border: 2px solid red;
    padding-top: 20px;
    background: url(img/tree.jpg);
    background-size: cover;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article-container{
    z-index: 3;
    display:flex;
    /* justify-content: space-between; */
    position:relative;
    width:100%;
    height:300px;
    margin-bottom:50px;
    
}

.article-bg{
    
    position:absolute;
    background-color:rgba(255,255,255,0.8);
    z-index: 1;
    width:90%;
    left: 50%;
    transform: translateX(-50%);
    height:100%;
    z-index:0;
    box-shadow: 0px 0px 20px 0 gray;
}

.article-text{
    width:100%;
    height:100%;
    z-index:2;
    margin: 0 3%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.article-content{
    margin:40px;
    margin-left:10px;
    padding: 0 10px;
}

.photo-wrapper{
    /* width: 100%; */
    /* flex-basis: 100%; */
    /* background-color: red; */
    width: 200px;
    height: 200px;
    margin:40px;
    margin-right:0px;
}

.photo-wrapper img{
    /* width: 100%; */
    width: 200px;
    height: 200px;
    border-radius:50%;
}
p#title{
    font-weight: bolder;
    font-size: 20px;
}
.form-container{
    position:relative;
    display:flex;
    height:400px;
    justify-content: center;
    margin-bottom: 20px;
}

.form-cut{
    position:absolute;
    top:0;
    left:0;
    width:60%;
    /* transform: skew(-15deg) translate(6%,0); */
    height:100%;
    background-color: rgba(255,255,255,0.7);
    z-index:0;
}
/* .form-cut:after {
    content: " ";
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    top: 0;
    left: 70%;
    z-index: -1;
    background-color: rgba(255,255,255,0.7);
    transform-origin: bottom left;
    transform: skew(-10deg, 0deg);
} */

.form-inner{
    position:relative;
    width: 70%;
    /* width: 100%; */
    background: url(img/lake.jpg);
    background-size:cover;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
}

.form-info{
   z-index: 2;
   position:relative;
   display:flex;
   flex-direction: column;
   width: 70%;
   margin-left: 2%;
}

.form-info form input[type=text], .form-container form input[type=email]{
    margin-bottom:25px;
    width:60%;
    display:block;
}
input[type='radio']{
    visibility:hidden;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -1px;
    left: -3px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid green;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -1px;
    left: -3px;
    position: relative;
    background-color: green;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid green;
}
.form-info label{
    font-size:14px;
    font-weight: bold;
}
.form-info form input[type=radio]{
    display:inline;
}

.form-info input{
    border:0;
    padding:10px;
}

.form-info .next-step{
    width:fit-content;
    color:white;
    background-color:green;
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
    margin-top:40px;
}


p#title2{
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, rgb(111, 227, 111), green);
    -webkit-background-clip: text;
    font-size:32px;
    margin-bottom:35px;

}
a{
    text-decoration: none;
}

footer{
    grid-area: footer;
    border: 2px solid red;
}



@media screen and (max-width: 1100px){
    .grid-container{
        grid-template-columns: 10% 89%;
        grid-template-rows: 10vh 10vh 70vh auto 10vh;
        grid-template-areas:
        "header header"
        "nav nav"
        "aside main"
        "ads main"
        "ads footer";
    }
    #text-info p{
        font-size: 15px;
    }
    .personal-info{
        overflow: hidden;
    }
    nav{
        /* align-self: flex-end; */
        justify-self: flex-end;
        float: right;
        width: 89%;
    }

}

@media screen and (max-width: 800px){
    .grid-container{
        grid-template-columns: 100%;
        grid-template-rows: 10vh 10vh auto 10vh 10vh 10vh;
        grid-template-areas:
        "header"
        "nav"
        "main"
        /* "aside" */
        "ads"
        "footer";
    }
    .personal-info{
        /* display: flex; */
        width: 90%;
        /* height: fit-content; */
        height: 120px;
        flex-direction: row;
        position: fixed;
        align-items: center;
        justify-content: space-around;
        top: 80%;
        left: 5%;
    }
    .info-element{
        height: 100%;
    }
    #links img{
        height: 50px;
    }
    #links{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis:60%;
    }
    #me {
        margin: 2px;
        width: 100px;
    }
    #me-wrapper{
        flex-basis: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    #text-info{
        /* flex-basis: 70%; */
    }
    .ads{
        flex-direction: row;
    }
    .ads a{
        height: 90%;
        width: auto;
        margin-bottom: 0;
        align-items: center;
    }
    .ads img{
        width: 100%;
        height: 100%;
    }
    nav a{
        font-size: 16px;
    }
    
    .article-container{
        height: fit-content;
    }
    .article-text{
        flex-direction: column;
        /* margin: 0; */
    }
    .photo-wrapper, .article-content{
        margin: 10px;
    }

    nav{
        
        width: 100%;
    }
    .next-step{
        padding: 6px 10px;
        margin-bottom: 10px;
        font-size: 10px;
    }
    .form-cut{
        width: 65%;
    }
}